@import "reset.css";

html {
  background-color: black;
  color: white;
}

body {
  padding: 1em;
  margin-bottom: 2em;
}

pre {
  background-color: #333;
  padding: .5em;
}

div.testcase {
  padding: 1em;
  border: 1px solid white;
}

div.testcase h3 {
  font-size: 1.1rem;
}

.testcheck {
  display:flex; 
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 2em;
}

.testtab {
  padding: 0.5em;

}

.testtab.ok.selected {
  background-color: green;
}

.testtab.fail.selected {
  background-color: red;
}

.testtab.ok {
  border: 1px solid green;
}

.testtab.fail {
  border: 1px solid red;
}

.testpage {
  display: none;
}

.testpage.selected {
  display: block;
}