<%- include ("../partials/header.ejs") %>

<h1>Administration: <%= user_email %> <a href="/logout">logout</a></h1>

<a href="/admin/problems/create">Crear problema</a>

<br>
<br>

<ul>

<% problems.forEach(function(problem){ %>
  <li><a href="/admin/problems/edit/<%= problem.problem_slug %>"><%= problem.problem_title %></a></li>
<% }); %>
</ul>
