<%- include ("../partials/header.ejs") %>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username" value="admin" required>
  <input type="password" name="password" placeholder="Password" value="admin" required>
  <input type="submit">
</form>