<%- include ("../partials/header.ejs") %>

<h1>Sign up</h1>
<form action="/signup" method="POST">
  <input type="text" name="user_email" placeholder="Enter your email" size="32" required>
  <input type="submit" value="Sign up">
</form>